*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    line-height: 1.25;/* do dan dong */
    font-family: font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: auto;
    float: none;
}
.content{
    float: left;
    width: 66.67%;
    padding-right: 15px;
}
.side-3{
    float: left;
    width: 33.33%;
    padding-left: 15px;
}
.header-box{
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
    padding: 30px 0;
    height: 100px;
}
.logo-box{
    float: left;
    width: 30%;
}
.top-links{
    float: right;
    width: 30%;
}
.top-links-list{
    display: block;
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-weight: ;
}
.top-links li {
    float: right;
    list-style: none;
    margin-left: 15px;
}
.menu-box{
    padding-top: 20px;
    background-color:white;
    padding-bottom: 20px;
    height: 65px;
}
.menu li{
    float: left;
    display: block;
    margin-right: 100px;
}
.menu .last-list-menu{
    float: right;
    display: block;
    margin: 0px;
}
.menu li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.main-box{
    margin-top: 30px;
}
.body-content{
    background-color: white;
    width: 100%;
    height: auto;
    padding: 40px;
    margin-top: 10px;
}
.email-box{
    width: 100%;
    height: 600px;
    background-color: black;
}
.
