*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 1.25px;

    font-family: 'Roboto', sans-serif;
    color: #232323;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
    float: none;
}
.conten{
    float: left;
    width: 66.67%;
}
.sider{
    float: left;
    width: 33.33%;
}
.header{
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    padding: 20px;
}
.logo{
    float: left;
    width: 30%;
}
.top-link li{
    float: left;
    list-style: none;
    margin-left: 15px;
}
.nav{
    background-color: #fffffff
}
.menu li{
    float: left;
    list-style: none;
    margin-left: 20px;
}
.menu .last-iitem{
    float: right;
    margin-right: 0;
}
.main{
    padding: 30px;
}
.body conten{
    background-color: #ffffff;
    padding: 40px;
    float: left;
    width: 100%;
}
.block{
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30-x;
}
.black-block{
    background-color: darkred;
}