*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{

}
.main-box{
    background-color: ghostwhite;
    width: 761px;
    height: 700px;
    margin-left: 360px;
    margin-right: 200px;

}
.title{
    background-color: #e7e7e7;
    margin-left: 100;
    margin-right: 123;
}
.aohoopdie{
    background-color: grey;
    width: 182px;
    height: 245px;

    border-radius: 6px;

    overflow: hidden;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}